.Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SearchBar {
    all: unset;
    font-size: 1.5rem;
    width: 400px;
    margin: 2rem 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color: white;
    color: darkslategray;
}

.Button {
    all: unset;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 2rem 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    background-color: white;
    color: darkslategray;
}

.Button:hover {
    background-color: darkslategray;
    color: white;
}