.container  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #EEE3 1px solid;
}

.paragraph {
    font-size: 0.75rem;
    margin: 0.5rem;
    text-align: left;
}

.button {
    all: unset;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    max-height: 2rem;
    border-radius: 1rem;
    margin: 0.5rem;
    text-align: center;
}

.button:hover{
    background-color: #EEE3;
}

.svg {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    margin: 0.5rem;
    color: white;
}

.svg:hover{
    background-color: #EEE3;
}