* {
    font-family: Arial, sans-serif;
    color: white;
}

.main {
    background-image: url("./components/media/background.jpg");
    background-size: cover;
    background-color: darkseagreen;
}

.TrackAndPlaylistContainer {
    display: flex;
    justify-content: space-between;
}